<h1>Welcome to AngularJS!</h1>
<div ng-app="app">
  <div ng-controller="stuffCtrl">
    <p>{{ message }}</p>
    <input ng-model="message">

    <div id="reviews">
      <h2>AngularJS Reviews:</h2>
      <li ng-repeat="review in reviews">{{ review }}</li>
    </div>

    <h3>Leave your own review of AngularJS!</h3>
    <input ng-model="newReview">
    <button ng-click="addReview(newReview)">Add Review</button>
  </div>
</div>

