<h1>Welcome to AngularJS!</h1>
<div ng-app="app">
  <div ng-controller="stuffCtrl">
    <p>{{ message }}</p>
    <input ng-model="message">

    <div id="reviews">
      <h2>AngularJS Reviews:</h2>
      <li ng-repeat="review in reviews" ng-if="isPositive(review.text)">{{ review.text }}</li>
    </div>

    <h3>Leave your own review of AngularJS!</h3>
    <label>Review:</label><input ng-model="newReviewText">
    <label>Rating:</label><input ng-model="newReviewRating">
    <label>Your Name:</label><input ng-model="newReviewReviewer">
    <button ng-click="addReview(newReviewText, newReviewRating, newReviewReviewer)">Add Review</button>
  </div>
</div>

